// @import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border.border-transparent {
    border-color: transparent !important;
}

@media print
{
    @page { 
        margin: 0;
        size: A4;
    }

    //FIXME: target selector better, overwrite page styles for printing inside component
    .frmdb-editable-page > * > * > * > .MuiPaper-root {
        border: 0
    }

    .MuiDrawer-root, .MuiAppBar-root > button, .MuiAppBar-root > div, .MuiButton-root 
    {
        display: none !important;
    }

    .MuiFormControl-root {
        page-break-inside: avoid;
    }

    #FrmdbTogglePageEditorBtn {
        display: none !important;
    }

}

// form.rjsf button[type="submit"] {
//     display: none;
// }
